@inherits BaseComponent

<div class="container">
    <div class="progress-container">
      <div class="progress" 
           id="progress" 
           style="background-color:@(Theme.Colors.Primary);width:@ProgressWidth%;height:@(ProgressLineHeight)px">
      </div>
      @foreach (var step in AllSteps) {
          <div 
            style="border-color:@(IsActivated(step.Id) ? Theme.Colors.Primary : Theme.Colors.Gray);color:@(IsActivated(step.Id) ? Theme.Colors.Primary : Theme.Colors.Gray);width:@(CircleDiameter)px;height:@(CircleDiameter)px;border-width:@(ProgressLineHeight)px"
            class="@(IsActivated(step.Id) ? "circle active" : "circle")">@step.Id</div>
      }
    </div>
  </div>
